/* Navbar */
.nav .navbar-nav {
  font-size: 15px;
}
#searchForm {
  margin-right: 100px;
}
@media (max-width: 1200px) {
  #searchForm {
    display: none;
  }
}
.avatar {
    /* margin: 2px; */
    /* border: 1px solid green;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%; */

    border: 1px solid green;
    background-repeat: no-repeat;
    background-size: cover;
    width: 85%;
    height: 100%;
    margin-left: 11px;
}


th {
    width: 25px;
}
.cta {
    padding: 14px 0 14px 0;
}
.cta > button {
    width: 90%;
    /* margin: 10px; */
}

.contact-card {
    width: 100%;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.2), 0 1px 6px 0 rgba(0,0,0,.19);
    margin: 0.5em 0;
    overflow: auto;
    padding: 1em;
    /* display: flex; */
}

@media (min-width: 768px){
    .contact-card {
        display: flex;
    }
    .info-details {
        border-left: 1px solid rgb(129, 70, 70);
    }
}

@media (max-width: 735px){
    .img-circle {
        height: 14vh !important;
        width: 100% !important;
    }
}