<div class="container">
    <div class="col-md-12">
        <h1>Contact List</h1>
        <div class="row">
            <div class="col-xs-12">Search by Name</div>
            <div class="col-xs-12">
                <!-- <input type="text" [(ngModel)]='listFilter' /> -->
                <input class="form-control" name="Search" type="text" [(ngModel)]='listFilter' />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Filtered by: {{listFilter}}</h3>
            </div>
        </div>
        <form *ngIf="productForm">
            <h2>Add New Contact</h2>
            <p>Name:
                <input class="form-control" name="name" type="text" placeholder="Full Name" [(ngModel)]="newProduct.name" />
            </p>
            <p>Email:
                <input class="form-control" name="emailaddress" type="text" placeholder="Email Address" [(ngModel)]="newProduct.emailaddress"
                />
            </p>
            <p>Phone Number:
                <input class="form-control" name="phonenumber" type="text" placeholder="Phone Number" [(ngModel)]="newProduct.phonenumber"
                />
            </p>
            <p>
                <button type="button" class="btn btn-primary" (click)="saveProduct(newProduct)">Submit</button>
                <button type="button" class="btn btn-warning" (click)="cancelNewProduct()">Cancel</button>
            </p>
        </form>
        <form *ngIf="editProductForm">
            <h2>Edit Contact</h2>
            <p>Name:
                <input class="form-control" name="name" type="text" placeholder="Full Name" [(ngModel)]="editedProduct.name" />
            </p>
            <p>Email:
                <input class="form-control" name="emailaddress" type="text" placeholder="Phone Number" [(ngModel)]="editedProduct.emailaddress"
                />
            </p>
            <p>Phone Number:
                <input class="form-control" name="phonenumber" type="text" placeholder="Phone Number" [(ngModel)]="editedProduct.phonenumber"
                />
            </p>
            <p>
                <button type="button" class="btn btn-primary" (click)="updateProduct(editedProduct)">Submit</button>
                <button type="button" class="btn btn-warning" (click)="cancelEdits()">Cancel</button>
            </p>
        </form>
        <div class="row" *ngFor="let product of products">
            <div class="contact-card">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                    <!-- <img src="app/shared/img/avatar1.svg" class="img-circle avatar"> -->
                    <div class="img-circle avatar" style="background-image: url('./src/app/shared/img/avatar1.svg');"></div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-5 col-xs-8 info-details">
                    <div class="contactname">
                         <h1>{{ product.name }}</h1>
                    </div>
                    <div class="contactemail">
                         <span>{{ product.emailaddress }}</span>
                    </div>
                    <div class="contactnumber">
                         <p>{{ product.phonenumber }}</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-5 col-xs-12">
                    <div class="cta-container">
                        <div class="cta row ">
                            <button class="btn btn-info" (click)="showEditProductForm(product)">Edit &nbsp;
                                <i class="fa fa-pencil"></i>
                            </button>
                        </div>
                        <div class="cta row">
                            <button class="btn btn-danger" (click)="removeProduct(product)">Delete &nbsp;
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <table class="table table-bordered table-striped table-hover" *ngIf='products && products.length'>
            <thead>
                <tr>
                    <th></th>
                    <th class="text-center">Full Name</th>
                    <th class="text-center">Email Address</th>
                    <th class="text-center">Phone Number</th>
                    <th class="text-center">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td>
                        <img src="app/shared/img/avatar1.svg" class="img-circle avatar">
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.emailaddress }}</td>
                    <td>{{ product.phonenumber }}</td>
                    <td>
                        <button class="btn btn-info" (click)="showEditProductForm(product)">Edit &nbsp;
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button class="btn btn-danger" (click)="removeProduct(product)">Delete &nbsp;
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table> -->
        <button class="btn btn-success" (click)="showAddProductForm()">Add New &nbsp;
            <i class="fa fa-plus"></i>
        </button>
        <br />
        <br />
    </div>
</div>